/* body{
    background-color: rgb(211, 240, 247);
} */
body {
    background-color: rgb(247, 243, 238);
    width: 1550px;
    margin: 0 auto;
    font-family: sans-serif;
  }



div {
    position:relative;
    left: 30px;
  }
  

  p{
    color: black;
}

@media screen and (max-width: 768px) {
    p{
      color: black;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
      color: black;
     }
 }

  